/*****************************************
	Экран настроек
	Информационная панель
******************************************/
.bg_bibrefs_info_box {
	padding: 1.5em;
	background-color: #FAFAFA;
	border: 1px solid #ddd;
	margin: 1em;
	float: right;
	width: 22em;
}
.bg_bibrefs_info_box h3:first-of-type {
	margin-top: 0;
}
.bg_bibrefs_author {
	font-style: italic;
}
.bg_bibrefs_info_box p {
	margin: 0 0 .5em 0;
}
p.bg_bibrefs_gravatar {
	float: right;
	margin: 0 0 1em 1em;
}
.bg_bibrefs_info_box ul {
	list-style-type: disc;
	margin-left: 20px;
}
p.bg_bibrefs_close {
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: darkblue;
	margin-top: 1.5em;
	margin-bottom: 0;
}
/*****************************************
	Всплывающие подсказки у ссылок
******************************************/
.bg_data_title {
    position: static; /* Относительное позиционирование */
	white-space: nowrap;/* Запрет переноса строк ссылки */
	cursor: pointer;	/* Курсор - указатель */
}
.bg_data_tooltip {
	display: none;
    position: absolute; /* Абсолютное позиционирование */
	white-space: normal;/* В подсказке перенос строк разрешен */
	overflow-y: hidden; 	/* Разрешить при необходимости скроллинг по вертикали */
	overflow-x: hidden; /* Запретить скроллинг по горизонтали */
    z-index: 101; 		/* Отображаем подсказку поверх других элементов */
	left: 0px; 
	top: 80px; 							/* Вертикальное положение подсказки */
	width: 240px;						/* Ширина подсказки */
	max-height: 240px;					/* Максимальная высота подсказки */
	max-width: 600px;					/* Максимальная ширина подсказки */
	margin: 0px;						/* Отступ = 0 */
    padding:  5px 5px 5px 10px; 		/* Поля */
    border: 1px solid #767676; 			/* Параметры рамки */
	font-family: sans-serif;			/* Вид шрифта */
	font-size: 12px; 					/* Размер текста стиха */
	font-style: normal;					/* Стиль текста */
	font-weight: normal;				/* Толщина шрифта текста */
	font-stretch: normal;				/* Начертание шрифта текста */
    color: #000000; 					/* Цвет текста */
	text-decoration: none; 				/* Без подчеркивания */
	text-align: start;					/* Прижать текст влево */
    background-color: rgba(253,253,255,0.99); 	/* Полупрозрачный цвет фона */
	box-shadow: 5px 5px 5px -3px rgba(118, 118, 118, 0.9);	/* Тень	*/
	-webkit-box-shadow: 5px 5px 5px -3px rgba(118, 118, 118, 0.9);
	-moz-box-shadow: 5px 5px 5px -3px rgba(118, 118, 118, 0.9);

}
.bg_data_tooltip  div{
    margin:  5px -5px -5px -10px;		/* Отступ */
    padding: 5px 5px 5px 10px;			/* Поля */
	border-top: 1px solid #767676; ; 	/* Параметры рамки */
	overflow-y: auto; 	/* Разрешить при необходимости скроллинг по вертикали */
	overflow-x: hidden; /* Запретить скроллинг по горизонтали */
}
#bg_BG_overlay {
  background-color: #000;	/* Чёрный фон */
  height: 100%;				/* Высота максимальна */
  left: 0;					/* Нулевой отступ слева */
  opacity: 0.50;			/* Степень прозрачности */
  position: fixed;			/* Фиксированное положение */
  top: 0;					/* Нулевой отступ сверху */
  width: 100%;				/* Ширина максимальна */
  z-index: 100;				/* Заведомо быть НАД другими элементами */
}
